{% extends "layout.html" %}

{% block body %}

<div class="text-center">
    <h1>Welcome</h1>
    <a href="/account/logout">Log Out</a>
</div>

<br>

<div>
    <h2>Territories</h2>
    <small>Here are the list of territories</small>

    <br>

    <ul id="territories"></ul>
</div>

<script>
    addEventListener("DOMContentLoaded", async function () {
        let response = await fetch('/territories');
        let html = await response.text();
        document.getElementById("territories").innerHTML = html;
    })
</script>
{% endblock %}