{% extends "layout.html" %}

{% block body %}

<div class="card mx-auto" style="width: 18rem;">
    <div class="card-body">
        <form action="/account/login" method="post">
            <!-- form template copied from Bootstrap Forms -->
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" placeholder="username" name="username">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" placeholder="*****" name="password">
            </div>
            <button type="submit" class="btn btn-primary">Log In</button>
        </form>
    </div>
</div>

{% endblock %}